[Unit]
Description=Duplicity backup of %f

[Service]
Environment=SOURCE=%f
Environment=SERVER=changeme
Environment=USERNAME=changeme
Environment=PROTOCOL=sftp://
Environment=VERBOSITY=notice
Environment=PASSPHRASE=changeme
Environment=OPTIONS=
ExecStart=/usr/bin/duplicity ${OPTIONS} --verbosity ${VERBOSITY} ${SOURCE} ${PROTOCOL}${USERNAME}@${SERVER}/%H${SOURCE}/
