[Unit]
Description=Hourly Timer for %i service

[Timer]
OnCalendar=hourly
AccuracySec=15min
Persistent=true
Unit=%i.service

[Install]
WantedBy=default.target
