[Unit]
Description=Clean pacman's cache and keep the previous version of packages too

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Type=oneshot
ExecStart=/usr/bin/paccache -rvk3
ExecStart=/usr/bin/paccache -rvk3 -c /var/cache/aur/pkg
