[Unit]
Description=Test if %i is reachable
 
[Service]
Type=forking
ExecStart=/usr/bin/ping -c1 %i
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
