[Unit]
Description=Download the root-hint files from %i
Requires=reachable-retry@%i.service
After=reachable-retry@%i.service

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Restart=on-failure
RestartSec=1h
ExecStart=/usr/bin/wget ftp://%i/domain/named.cache -O /etc/unbound/root.hints
