[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
Environment=width=80
Environment=height=24
ExecStart=/usr/bin/tmux new-session -s %u -x ${width} -y ${height} -d
ExecStop=/usr/bin/tmux kill-session -t %u
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
