[Unit]
Description=Weekly Timer for %i service

[Timer]
OnCalendar=Mon *-*-* 03:00:00
AccuracySec=6h
Persistent=true
Unit=%i.service

[Install]
WantedBy=multi-user.target
